.button-cart, .button-cart a {
  border: none;
  background-color: transparent; 
  cursor: pointer;
  padding: 0;
  margin: 0 0.4em;
  color: var(--black);
}

.button-cart svg {
  height: 24px!important;
  width: 24px!important;
}

.button-cart:focus-visible,
.button-cart:focus {
  outline: none;
  border-color: transparent;
}

.cart-count {
  align-items: center;
  animation: appearAndBounce 2s ease-out forwards;
  background: var(--yellow);
  border-radius: 50%;
  color: var(--black);
  display: flex;
  font-size: 12px;
  height: 18px;
  justify-content: center;
  margin-left: 15px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  transform: translateY(-20px);
  width: 18px;
  vertical-align: top;
}

@keyframes appearAndBounce {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  25%,
  35% {
    transform: translateY(-8px);
  }
  45% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}