.button-user-logged-container {
  position: relative;
}

.drowpdown-user-content {
  position: absolute;
  right: 0;
  top: 24px;
  min-width: 250px;
  background: var(--light-grey-500);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  transition: opacity 0.5s;
  animation: showDropdown 0.4s;
  border: 1px solid var(--black);
  border-top: none;
  z-index: 221;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--white);
}

.drowpdown-user-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 63px);
  border-top: 1px solid var(--black);
  z-index: -1;
}

.drowpdown-user-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 63px);
  border-top: 1px solid var(--black);
  z-index: -1;
}

.icon-user-logged-container {
  display: flex;
  gap: 3px;
  border: 1px solid transparent;
  padding: 6px;
  cursor: pointer;
  background-color: transparent;
  z-index: 111;
  position: relative;
  transition: none;
}

.icon-user-logged-container.open {
  border-left: 1px solid var(--black);
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

.icon-user-logged-container svg {
  height: 24px !important;
  width: 24px !important;
  cursor: pointer;
  margin: 0;
}

.drowpdown-user-content li {
  width: 100%;
  text-align: initial;
  padding: 8px 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
}

.drowpdown-user-header-list-item {
  border-bottom: 1px solid var(--light-grey-400);
  padding-bottom: 0.25em;
}

.drowpdown-user-header-title {
  display: flex;
  align-items: center;
}

.drowpdown-user-header-title-welcome {
  font-weight: 700;
  white-space: nowrap;
}

@keyframes showDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.drowpdown-user-header-title-logout {
  cursor: pointer;
}

.button-user-logged-container {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.button-user-logged-container.hidden {
  opacity: 0;
  transform: translateX(20px);
}

.drowpdown-user-header-title-welcome-label {
  white-space: nowrap;
}